@import '../../../styles/variables.scss';

.logo {
   font-family: $main-font;
   color: $primary-color;
   font-size: 46px;
   padding-left: 30px;

   @media (max-width: 991px) {
      font-size: 40px;
      padding-left: 10px;
   }

   @media (max-width: 576px) {
      font-size: 36px;
      padding-left: 10px;
   }
}
