@import '../../../styles/variables.scss';

.category {
   text-align: center;
   padding: 10px;
   text-transform: capitalize;
   font-size: 18px;
   font-family: $main-font;
   position: relative;

   &::after {
      content: '';
      display: block;
      height: 1px;
      width: 220px;
      background-color: $primary-color;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
   }

   &:last-of-type::after {
      display: none;
   }

   @media (max-width: 767px) {
      font-size: 14px;
      padding: 6px 0;
   }

   &__link {
      text-decoration: none;
      color: $text-color;
      transition: 0.4s;
      width: 100%;

      &:hover,
      &.active-filter {
         text-decoration: none;
         color: $primary-color;
         font-weight: 900;
      }
   }
}
