@import '../../../styles/variables.scss';

.regulations {
    &__list {
        padding: 0 10px;
    }

    &__item {
        margin-top: 30px;
    }

    &__heading {
        font-family: $main-font;
    }
}