$text-color: #353a39;
$primary-color: #ba1e1e;
$main-bg: #f0efec;
$light-border: #cfdbd9;
$box-shadow-color: #fc747d;
$outline-color: #fa0213;
$page-link-color-hover: #e8e6e3;
$page-item-active-color: #ba3439;

$main-font: 'Turret Road', cursive;
