@import '../../../styles/variables.scss';

.products {
    width: calc(100% - 300px);

    @media(max-width: 767px){
        width: 100%;
    }

    &__searching-alert{
        font-family: $main-font;
        font-size: 18px;
        text-align: center;
        padding-top: 15px;
    }

    .fade {
        height: 100%;
    }
}